.My-Fo {


    border-width: 30px 50px;
    border-color: aqua;
    border-style: solid;

    width: 1000px;
    height: 500px;

    margin-left: 200px;
}

h1{
    margin: 20px;
    background-color: tomato;
    text-align: center;
}
span{
    font-size: 20px;
}

.color1{
    color: blue;

    margin-left: 200px;
}
.color3 {
    color: blue;
    margin-left: 230px;
}
.color2 {
    color: tomato;
}
.color4 {
    color: blue;
    margin-left: 210px;
}

.far{
    margin-left: 285px;
}
